# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python

# ======================
# Virtual Environment
# ======================
venv/
env/
.venv/

# ======================
# Environment variables
# ======================
.env

# ======================
# Database
# ======================
*.sqlite3
*.db

# ======================
# Logs
# ======================
*.log

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ======================
# Python tooling
# ======================
.pytest_cache/
.mypy_cache/
coverage/
htmlcov/
